*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    margin: 30px 0 30px;
}
h1 {
    text-align: center;
    color: forestgreen;
    margin: 30px 0 30px;
}
.gallery {
    margin: 10px 50px;
}
.gallery img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}